# Raddar's User level Features

In [1]:
import pandas as pd

In [2]:
user_feats = pd.read_csv('../../data/user_level_feats-001.csv')

In [6]:
user_feats.head()

,TransactionID,anomaly,minDT,maxDT,ntrans,mtransamt,maxtransamt,mintransamt,mxC1,mxC2,...,mxC5,mxC6,mxC7,mxC8,mxC9,mxC10,mxC11,mxC12,mxC13,mxC14
0,2987000,0,0.000000e+00,0.000000e+00,1,68.500000,68.5,68.5,1.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2.0,0.0,1.0,1.0
1,2987001,0,6.359409e-08,6.359409e-08,1,29.000000,29.0,29.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
2,2987002,0,4.387992e-06,9.281670e-01,4,73.500000,92.0,59.0,1.0,2.0,...,0.0,2.0,0.0,0.0,1.0,0.0,1.0,0.0,5.0,1.0
3,2987003,0,6.295815e-06,3.340526e-01,84,66.392857,141.0,29.0,2.0,5.0,...,0.0,4.0,0.0,0.0,1.0,0.0,1.0,0.0,47.0,1.0
4,2987004,0,6.740974e-06,6.740974e-06,1,50.000000,50.0,50.0,1.0,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0

In [8]:
tr007 = pd.read_parquet('../../data/train_FE007.parquet')
te007 = pd.read_parquet('../../data/test_FE007.parquet')

In [11]:
tr008 = tr007.merge(user_feats, on='TransactionID', how='left')

In [12]:
te008 = te007.merge(user_feats, on='TransactionID', how='left')

In [13]:
tr007.shape

(590540, 1193)

In [14]:
te007.shape

(506691, 1192)

In [15]:
tr008.shape

(590540, 1214)

In [16]:
te008.shape

(506691, 1213)

In [17]:
tr008.to_parquet('../../data/train_FE008.parquet')
te008.to_parquet('../../data/test_FE008.parquet')