In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/v307_diff_feats.csv')

In [3]:
df

         TransactionID  V307_diff_minus_trAmt  V307_diff_minus_trAmt2
0              2987000                    NaN                     NaN
1              2987001                    NaN                     NaN
2              2987002                    NaN                     NaN
3              2987003                    NaN                     NaN
4              2987004                    NaN                     NaN
...                ...                    ...                     ...
1097226        4170235                    NaN                     NaN
1097227        4170236                    NaN              713.906027
1097228        4170237                    NaN                     NaN
1097229        4170238                    NaN                     NaN
1097230        4170239                    NaN                     NaN

[1097231 rows x 3 columns]

In [4]:
tr13 = pd.read_parquet('../../data/train_FE013.parquet')
te13 = pd.read_parquet('../../data/test_FE013.parquet')

In [7]:
tr15 = tr13.merge(df, on=['TransactionID'], how='left')

In [8]:
te15 = te13.merge(df, on=['TransactionID'], how='left')

In [10]:
tr13.shape

(590540, 1953)

In [9]:
tr15.shape

(590540, 1955)

In [11]:
tr15.to_parquet('../../data/train_FE015.parquet')

In [12]:
te13.shape

(506691, 1953)

In [13]:
te15.shape

(506691, 1955)

In [14]:
te15.to_parquet('../../data/test_FE015.parquet')

In [15]:
tr15.columns

Index(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt',
       'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5',
       ...
       'ndistM2', 'ndistM3', 'ndistM4', 'ndistM5', 'ndistM6', 'ndistM7',
       'ndistM8', 'ndistM9', 'V307_diff_minus_trAmt',
       'V307_diff_minus_trAmt2'],
      dtype='object', length=1955)