# Userid Features

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import gc
import scipy
%matplotlib inline

In [2]:
userids = pd.read_csv('../../data/userids/userids_final-002.csv')

In [3]:
tr010 = pd.read_parquet('../../data/train_FE010.parquet')
te010 = pd.read_parquet('../../data/test_FE010.parquet')

In [4]:
tt = pd.concat([tr010, te010], axis=0, sort=False)

In [5]:
userids.head()

   TransactionID  userid
0        2987000       1
1        2987001       2
2        2987002       3
3        2987003       4
4        2987004       5

In [6]:
tt.shape

(1097231, 1411)

In [7]:
tt = tt.merge(userids, on='TransactionID', how='left')

In [8]:
tt.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,sum_Cxx_binary_higher_than_q50,sum_Cxx_binary_higher_than_q60,sum_Cxx_binary_higher_than_q70,sum_Cxx_binary_higher_than_q80,sum_Cxx_binary_higher_than_q90,sum_Cxx_binary_higher_than_q95,sum_Cxx_binary_higher_than_q99,C_sum_after_clip75,C_sum_after_clip90,userid
0,2987000,0.0,86400,68.5,4,13926.0,NaN,150.0,1,142.0,...,1,1,0,0,0,0,0,8.0,8.0,1
1,2987001,0.0,86401,29.0,4,2755.0,404.0,150.0,2,102.0,...,0,0,0,0,0,0,0,6.0,6.0,2
2,2987002,0.0,86469,59.0,4,4663.0,490.0,150.0,4,166.0,...,0,0,0,0,0,0,0,7.0,7.0,3
3,2987003,0.0,86499,50.0,4,18132.0,567.0,150.0,2,117.0,...,4,3,3,3,0,0,0,22.0,39.0,4
4,2987004,0.0,86506,50.0,1,4497.0,514.0,150.0,2,102.0,...,2,2,2,0,0,0,0,7.0,8.0,5

In [9]:
groupuserid = tt.groupby('userid')

In [10]:
# [x for x in tt.columns if 'C' in x]

In [11]:
c_feats = ['C1',
 'C2',
 'C3',
 'C4',
 'C5',
 'C6',
 'C7',
 'C8',
 'C9',
 'C10',
 'C11',
 'C12',
 'C13',
 'C14']

for c in c_feats:
    tt[f'userid_min_{c}'] = groupuserid[c].transform(min)
    tt[f'userid_max_{c}'] = groupuserid[c].transform(max)
    tt[f'userid_max_minus_min_{c}'] = tt[f'userid_max_{c}'] - tt[f'userid_min_{c}']
    tt[f'userid_unique_{c}'] = groupuserid[c].transform('nunique')
    tt[f'userid_mean_{c}'] = groupuserid[c].transform('mean')
    #tt[f'userid_sum_{c}'] = groupuserid[c].transform(pd.Series.mode)
    #tt[f'userid_sum_{c}'] = groupuserid[c].transform(unique)

In [12]:
tr010.shape

(590540, 1411)

In [13]:
te010.shape

(506691, 1410)

In [14]:
tt.loc[tt['isFraud'].isna()].to_parquet('../../data/test_FE011.parquet')
tt.loc[~tt['isFraud'].isna()].to_parquet('../../data/train_FE011.parquet')

In [15]:
# New Features
[x for x in tt.columns if 'userid_' in x]

['TransactionAmt_userid_median',
 'TransactionAmt_userid_std',
 'userid_min_C1',
 'userid_max_C1',
 'userid_max_minus_min_C1',
 'userid_unique_C1',
 'userid_mean_C1',
 'userid_min_C2',
 'userid_max_C2',
 'userid_max_minus_min_C2',
 'userid_unique_C2',
 'userid_mean_C2',
 'userid_min_C3',
 'userid_max_C3',
 'userid_max_minus_min_C3',
 'userid_unique_C3',
 'userid_mean_C3',
 'userid_min_C4',
 'userid_max_C4',
 'userid_max_minus_min_C4',
 'userid_unique_C4',
 'userid_mean_C4',
 'userid_min_C5',
 'userid_max_C5',
 'userid_max_minus_min_C5',
 'userid_unique_C5',
 'userid_mean_C5',
 'userid_min_C6',
 'userid_max_C6',
 'userid_max_minus_min_C6',
 'userid_unique_C6',
 'userid_mean_C6',
 'userid_min_C7',
 'userid_max_C7',
 'userid_max_minus_min_C7',
 'userid_unique_C7',
 'userid_mean_C7',
 'userid_min_C8',
 'userid_max_C8',
 'userid_max_minus_min_C8',
 'userid_unique_C8',
 'userid_mean_C8',
 'userid_min_C9',
 'userid_max_C9',
 'userid_max_minus_min_C9',
 'userid_unique_C9',
 'userid_mean_C9',
 'userid_min_C10',
 'userid_max_C10',
 'userid_max_minus_min_C10',
 'userid_unique_C10',
 'userid_mean_C10',
 'userid_min_C11',
 'userid_max_C11',
 'userid_max_minus_min_C11',
 'userid_unique_C11',
 'userid_mean_C11',
 'userid_min_C12',
 'userid_max_C12',
 'userid_max_minus_min_C12',
 'userid_unique_C12',
 'userid_mean_C12',
 'userid_min_C13',
 'userid_max_C13',
 'userid_max_minus_min_C13',
 'userid_unique_C13',
 'userid_mean_C13',
 'userid_min_C14',
 'userid_max_C14',
 'userid_max_minus_min_C14',
 'userid_unique_C14',
 'userid_mean_C14']