# FE003 - Add Features From Public Kernel
https://www.kaggle.com/kernels/svzip/19732370

In [1]:
import pandas as pd

In [2]:
train_fe002 = pd.read_parquet('../../data/train_FE002.parquet')
test_fe002 = pd.read_parquet('../../data/test_FE002.parquet')

In [3]:
train = pd.read_pickle('../../data/PublicKernel001/train_df.pkl')
test = pd.read_pickle('../../data/PublicKernel001/test_df.pkl')

In [4]:
rem_feats = pd.read_pickle('../../data/PublicKernel001/remove_features.pkl')

In [37]:
rem_feats['features_to_remove'].values

array(['TransactionID', 'TransactionDT', 'isFraud', 'DT', 'DT_M', 'DT_W',
       'DT_D', 'DT_hour', 'DT_day_week', 'DT_day_month', 'DT_M_total',
       'DT_W_total', 'DT_D_total', 'uid', 'uid2', 'uid3', 'uid4', 'uid5',
       'bank_type'], dtype=object)

# Find Overlapping Columns

In [5]:
train.columns

Index(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt',
       'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5',
       ...
       'id_38', 'DeviceType', 'DeviceInfo', 'id_33_0', 'id_33_1',
       'DeviceInfo_device', 'DeviceInfo_version', 'id_30_device',
       'id_30_version', 'id_31_device'],
      dtype='object', length=791)

In [35]:
train_fe002.head()

,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,DT_M_total,DT_W_total,DT_D_total,uid_DT_M,uid_DT_W,uid_DT_D,year_day,Trans_Count_Day,Mean_TransAmt_Day,Sum_TransAmt_Day
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987000,0,86400,68.5,4,13926.0,NaN,150.0,1,142.0,1,...,137321,12093,5122,0.000015,0.000083,0.000195,2017_335,5122,144.901783,742186.931
2987001,0,86401,29.0,4,2755.0,404.0,150.0,2,102.0,1,...,137321,12093,5122,0.001216,0.001075,0.001367,2017_335,5122,144.901783,742186.931
2987002,0,86469,59.0,4,4663.0,490.0,150.0,4,166.0,2,...,137321,12093,5122,0.001347,0.002150,0.001952,2017_335,5122,144.901783,742186.931
2987003,0,86499,50.0,4,18132.0,567.0,150.0,2,117.0,2,...,137321,12093,5122,0.006015,0.009179,0.009567,2017_335,5122,144.901783,742186.931
2987004,0,86506,50.0,1,4497.0,514.0,150.0,2,102.0,1,...,137321,12093,5122,0.000015,0.000083,0.000195,2017_335,5122,144.901783,742186.931

In [22]:
train = train.set_index('TransactionID')
test = test.set_index('TransactionID')

In [29]:
new_cols = [c for c in train.columns if c not in train_fe002.columns]

In [34]:
new_cols

['DT_day_month',
 'is_december',
 'is_holiday',
 'uid4',
 'uid5',
 'uid4_fq_enc',
 'uid5_fq_enc',
 'bank_type',
 'card3_DT_D_hour_dist',
 'card3_DT_W_week_day_dist',
 'card3_DT_M_month_day_dist',
 'card3_DT_D_hour_dist_best',
 'card3_DT_W_week_day_dist_best',
 'card3_DT_M_month_day_dist_best',
 'card5_DT_D_hour_dist',
 'card5_DT_W_week_day_dist',
 'card5_DT_M_month_day_dist',
 'card5_DT_D_hour_dist_best',
 'card5_DT_W_week_day_dist_best',
 'card5_DT_M_month_day_dist_best',
 'bank_type_DT_D_hour_dist',
 'bank_type_DT_W_week_day_dist',
 'bank_type_DT_M_month_day_dist',
 'bank_type_DT_D_hour_dist_best',
 'bank_type_DT_W_week_day_dist_best',
 'bank_type_DT_M_month_day_dist_best',
 'bank_type_DT_M',
 'bank_type_DT_W',
 'bank_type_DT_D',
 'uid_D1_mean',
 'uid_D1_std',
 'uid2_D1_mean',
 'uid2_D1_std',
 'uid3_D1_mean',
 'uid3_D1_std',
 'uid4_D1_mean',
 'uid4_D1_std',
 'uid5_D1_mean',
 'uid5_D1_std',
 'bank_type_D1_mean',
 'bank_type_D1_std',
 'uid_D2_mean',
 'uid_D2_std',
 'uid2_D2_mean',
 'uid2_D2_std',
 'uid3_D2_mean',
 'uid3_D2_std',
 'uid4_D2_mean',
 'uid4_D2_std',
 'uid5_D2_mean',
 'uid5_D2_std',
 'bank_type_D2_mean',
 'bank_type_D2_std',
 'uid_D3_mean',
 'uid_D3_std',
 'uid2_D3_mean',
 'uid2_D3_std',
 'uid3_D3_mean',
 'uid3_D3_std',
 'uid4_D3_mean',
 'uid4_D3_std',
 'uid5_D3_mean',
 'uid5_D3_std',
 'bank_type_D3_mean',
 'bank_type_D3_std',
 'uid_D4_mean',
 'uid_D4_std',
 'uid2_D4_mean',
 'uid2_D4_std',
 'uid3_D4_mean',
 'uid3_D4_std',
 'uid4_D4_mean',
 'uid4_D4_std',
 'uid5_D4_mean',
 'uid5_D4_std',
 'bank_type_D4_mean',
 'bank_type_D4_std',
 'uid_D5_mean',
 'uid_D5_std',
 'uid2_D5_mean',
 'uid2_D5_std',
 'uid3_D5_mean',
 'uid3_D5_std',
 'uid4_D5_mean',
 'uid4_D5_std',
 'uid5_D5_mean',
 'uid5_D5_std',
 'bank_type_D5_mean',
 'bank_type_D5_std',
 'uid_D6_mean',
 'uid_D6_std',
 'uid2_D6_mean',
 'uid2_D6_std',
 'uid3_D6_mean',
 'uid3_D6_std',
 'uid4_D6_mean',
 'uid4_D6_std',
 'uid5_D6_mean',
 'uid5_D6_std',
 'bank_type_D6_mean',
 'bank_type_D6_std',
 'uid_D7_mean',
 'uid_D7_std',
 'uid2_D7_mean',
 'uid2_D7_std',
 'uid3_D7_mean',
 'uid3_D7_std',
 'uid4_D7_mean',
 'uid4_D7_std',
 'uid5_D7_mean',
 'uid5_D7_std',
 'bank_type_D7_mean',
 'bank_type_D7_std',
 'uid_D8_mean',
 'uid_D8_std',
 'uid2_D8_mean',
 'uid2_D8_std',
 'uid3_D8_mean',
 'uid3_D8_std',
 'uid4_D8_mean',
 'uid4_D8_std',
 'uid5_D8_mean',
 'uid5_D8_std',
 'bank_type_D8_mean',
 'bank_type_D8_std',
 'uid_D9_mean',
 'uid_D9_std',
 'uid2_D9_mean',
 'uid2_D9_std',
 'uid3_D9_mean',
 'uid3_D9_std',
 'uid4_D9_mean',
 'uid4_D9_std',
 'uid5_D9_mean',
 'uid5_D9_std',
 'bank_type_D9_mean',
 'bank_type_D9_std',
 'uid_D10_mean',
 'uid_D10_std',
 'uid2_D10_mean',
 'uid2_D10_std',
 'uid3_D10_mean',
 'uid3_D10_std',
 'uid4_D10_mean',
 'uid4_D10_std',
 'uid5_D10_mean',
 'uid5_D10_std',
 'bank_type_D10_mean',
 'bank_type_D10_std',
 'uid_D11_mean',
 'uid_D11_std',
 'uid2_D11_mean',
 'uid2_D11_std',
 'uid3_D11_mean',
 'uid3_D11_std',
 'uid4_D11_mean',
 'uid4_D11_std',
 'uid5_D11_mean',
 'uid5_D11_std',
 'bank_type_D11_mean',
 'bank_type_D11_std',
 'uid_D12_mean',
 'uid_D12_std',
 'uid2_D12_mean',
 'uid2_D12_std',
 'uid3_D12_mean',
 'uid3_D12_std',
 'uid4_D12_mean',
 'uid4_D12_std',
 'uid5_D12_mean',
 'uid5_D12_std',
 'bank_type_D12_mean',
 'bank_type_D12_std',
 'uid_D13_mean',
 'uid_D13_std',
 'uid2_D13_mean',
 'uid2_D13_std',
 'uid3_D13_mean',
 'uid3_D13_std',
 'uid4_D13_mean',
 'uid4_D13_std',
 'uid5_D13_mean',
 'uid5_D13_std',
 'bank_type_D13_mean',
 'bank_type_D13_std',
 'uid_D14_mean',
 'uid_D14_std',
 'uid2_D14_mean',
 'uid2_D14_std',
 'uid3_D14_mean',
 'uid3_D14_std',
 'uid4_D14_mean',
 'uid4_D14_std',
 'uid5_D14_mean',
 'uid5_D14_std',
 'bank_type_D14_mean',
 'bank_type_D14_std',
 'uid_D15_mean',
 'uid_D15_std',
 'uid2_D15_mean',
 'uid2_D15_std',
 'uid3_D15_mean',
 'uid3_D15_std',
 'uid4_D15_mean',
 'uid4_D15_std',
 'uid5_D15_mean',
 'uid5_D15_std',
 'bank_type_D15_mean',
 'bank_type_D15_std',
 'D9_not_na',
 'D8_not_same_day',
 'D8_D9_decimal_dist',
 'D3_DT_D_min_max',
 'D3_DT_D_std_score',
 'D4_DT_D_min_max',
 'D4_DT_D_std_score',
 'D5_DT_D_min_max',
 'D5_DT_D_std_score',
 'D6_DT_D_min_max',
 'D6_DT_D_std_score',
 'D7_DT_D_min_max',
 'D7_DT_D_std_score',
 'D8_DT_D_min_max',
 'D8_DT_D_std_score',
 'D10_DT_D_min_max',
 'D10_DT_D_std_score',
 'D11_DT_D_min_max',
 'D11_DT_D_std_score',
 'D12_DT_D_min_max',
 'D12_DT_D_std_score',
 'D13_DT_D_min_max',
 'D13_DT_D_std_score',
 'D14_DT_D_min_max',
 'D14_DT_D_std_score',
 'D15_DT_D_min_max',
 'D15_DT_D_std_score',
 'D3_DT_W_min_max',
 'D3_DT_W_std_score',
 'D4_DT_W_min_max',
 'D4_DT_W_std_score',
 'D5_DT_W_min_max',
 'D5_DT_W_std_score',
 'D6_DT_W_min_max',
 'D6_DT_W_std_score',
 'D7_DT_W_min_max',
 'D7_DT_W_std_score',
 'D8_DT_W_min_max',
 'D8_DT_W_std_score',
 'D10_DT_W_min_max',
 'D10_DT_W_std_score',
 'D11_DT_W_min_max',
 'D11_DT_W_std_score',
 'D12_DT_W_min_max',
 'D12_DT_W_std_score',
 'D13_DT_W_min_max',
 'D13_DT_W_std_score',
 'D14_DT_W_min_max',
 'D14_DT_W_std_score',
 'D15_DT_W_min_max',
 'D15_DT_W_std_score',
 'D3_DT_M_min_max',
 'D3_DT_M_std_score',
 'D4_DT_M_min_max',
 'D4_DT_M_std_score',
 'D5_DT_M_min_max',
 'D5_DT_M_std_score',
 'D6_DT_M_min_max',
 'D6_DT_M_std_score',
 'D7_DT_M_min_max',
 'D7_DT_M_std_score',
 'D8_DT_M_min_max',
 'D8_DT_M_std_score',
 'D10_DT_M_min_max',
 'D10_DT_M_std_score',
 'D11_DT_M_min_max',
 'D11_DT_M_std_score',
 'D12_DT_M_min_max',
 'D12_DT_M_std_score',
 'D13_DT_M_min_max',
 'D13_DT_M_std_score',
 'D14_DT_M_min_max',
 'D14_DT_M_std_score',
 'D15_DT_M_min_max',
 'D15_DT_M_std_score',
 'D1_scaled',
 'D2_scaled',
 'uid4_TransactionAmt_mean',
 'uid4_TransactionAmt_std',
 'uid5_TransactionAmt_mean',
 'uid5_TransactionAmt_std',
 'bank_type_TransactionAmt_mean',
 'bank_type_TransactionAmt_std',
 'TransactionAmt_DT_D_min_max',
 'TransactionAmt_DT_D_std_score',
 'TransactionAmt_DT_W_min_max',
 'TransactionAmt_DT_W_std_score',
 'TransactionAmt_DT_M_min_max',
 'TransactionAmt_DT_M_std_score',
 'product_type',
 'product_type_DT_D',
 'product_type_DT_W',
 'product_type_DT_M',
 'id_33_0',
 'id_33_1']

In [31]:
train_merged = pd.concat([train_fe002, train[new_cols]], sort=False, axis=1)
test_merged = pd.concat([test_fe002, test[new_cols]], sort=False, axis=1)

In [54]:
train_merged['D1_scaled'] = train_merged['D1_scaled'].astype('float32')
train_merged['D2_scaled'] = train_merged['D2_scaled'].astype('float32')

In [55]:
test_merged['D1_scaled'] = test_merged['D1_scaled'].astype('float32')
test_merged['D2_scaled'] = test_merged['D2_scaled'].astype('float32')

In [57]:
train_merged.to_parquet('../../data/train_FE003.parquet')
test_merged.to_parquet('../../data/test_FE003.parquet')