# Looking at Raddars Userids

In [16]:
import pandas as pd
pd.set_option('max_columns', 100)

In [3]:
userids = pd.read_csv('../../data/userids/userids-001.csv')

In [4]:
userids.head()

   TransactionID  userid
0        2987000       1
1        2987001       2
2        2987002       3
3        2987003       4
4        2987004       5

In [5]:
train = pd.read_parquet('../../input/train.parquet')
test = pd.read_parquet('../../input/test.parquet')

In [7]:
tt = pd.concat([train, test], axis=0, sort=False)

In [8]:
tt.head()

,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987000,0.0,86400,68.5,W,13926,NaN,150.0,discover,142.0,credit,...,None,NaN,None,None,None,None,None,None,None,None
2987001,0.0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,...,None,NaN,None,None,None,None,None,None,None,None
2987002,0.0,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,...,None,NaN,None,None,None,None,None,None,None,None
2987003,0.0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,...,None,NaN,None,None,None,None,None,None,None,None
2987004,0.0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M

In [10]:
tt = tt.merge(userids, left_index=True, right_on=['TransactionID'])

In [ ]:
tt.groupby('userid').mean()